/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

.text_primary {
  color: #fd6e0a;
}

.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section_description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav_title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner_content {
  max-width: 500px;
}

.banner .profile_picture {
  width: 500px;
}

.banner_greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner_title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner_description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 20px;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.section_description {
  text-align: center;
}

.about_info_container {
  display: flex;
  justify-content: space-around;
}

.about_info {
  text-align: center;
}

.info_title {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.info_description {
  font-size: 20px;
  color: #474747;
  line-height: 30px;
  font-weight: 700;
  margin-top: 5px;
  text-align: justify;
}

#what_i_do_description {
  padding: 30px 150px;
}

/* skills related style */
.skills_container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 33px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill_description {
  color: #757575;
}

/* resume section styles */
.resume_column_title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume_container {
  display: flex;
  gap: 70px;
}

.resume_item_title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume_item_institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}

.resume_item_description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download_cv {
  text-align: center;
  margin-top: 50px;
}

/* footer style */
footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 200px;
  margin-top: 100px;
}

.footer_column {
  width: 50%;
  margin-right: 120px;
}

.section_title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section_description {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.social_links a{
  margin-right: 25px;
}

.social_links img{
  width: 24px;
  height: 24px;
}

.contact input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  border: 0;
  width: 100%;
}
